main {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  --button-color: lightgreen;
}

section {
  box-sizing: border-box;
  margin: 20px;
}

/* left side */

section.leftSide {

}

.program {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.programActions {
  height: 600px;
  overflow: auto;
  background: deepskyblue;
  padding: 5px;
}

.programAction {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.programActionSelect, .programActionValue
{
  flex: 1 1 50%;
  margin: 5px;
  padding: 5px;
}

.inputBlock {
  display: flex;
}

.incDecButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.incDecButtons button {
  font-size: 10px;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnRunProgram {
  font-size: 1rem;
  font-weight: 400;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  align-self: center;
  background: var(--button-color) url('img/run.png') center / 40px 30px no-repeat;
  margin: 10px 0 20px 0;
}

.btnRunProgram:disabled {
  background-image: url('img/run-disabled.png');
}

.btnLoadPredefinedProgram {
  font-size: 1rem;
  font-weight: 400;
  padding: 5px 10px;
  background: lightblue;
  margin: 5px 0 0 0;
}


/* right side */

section.rightSide {

}

.canvas {
  flex: 0 0 1000px;
  background: #dddddd;
  height: 600px;
  width: 1000px;
  position: relative;
  padding: 0;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

svg .armModule {
  transition: transform 0.5s;
}

.controls {
  margin: 15px 0 0 0;
  display: flex;
  justify-content: center;
}
.buttonGroup {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 100px;
  grid-template-rows:  60px 60px 60px;
}

button {
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
}

button:disabled {
  cursor: default;
}

.btnMoveLeft {
  grid-area: 2 / 1 / 3 / 2;
  background: var(--button-color) url('img/arrow-left.png') center / 30px 30px no-repeat;
}
.btnMoveLeft:disabled {
  background-image: url('img/arrow-left-disabled.png');
}

.btnMoveRight {
  grid-area: 2 / 3 / 3 / 4;
  background: var(--button-color) url('img/arrow-right.png') center / 30px 30px no-repeat;
}

.btnMoveRight:disabled {
  background-image: url('img/arrow-right-disabled.png');
}

.btnMoveUp {
  grid-area: 1 / 2 / 2 / 3;
  background: var(--button-color) url('img/arrow-up.png') center / 30px 30px no-repeat;
}

.btnMoveUp:disabled {
  background-image: url('img/arrow-up-disabled.png');
}

.btnMoveDown {
  grid-area: 3 / 2 / 4 / 3;
  background: var(--button-color) url('img/arrow-down.png') center / 30px 30px no-repeat;
}

.btnMoveDown:disabled {
  background-image: url('img/arrow-down-disabled.png');
}

.btnCapture {
  grid-area: 2 / 2 / 3 / 3;
  font-size: 0.7rem;
  background: var(--button-color) url('img/capture.png') center / 50px 40px no-repeat;
}

.btnCapture:disabled {
  background-image: url('img/capture-disabled.png');
}

.btnReset {
  grid-area: 2 / 5 / 3 / 6;
  font-size: 1.2rem;
  background: var(--button-color) url('img/reset.png') center / 40px 30px no-repeat;
}

.btnReset:disabled {
  background-image: url('img/reset-disabled.png');
}

