.canvas {
  flex: 0 0 1000px;
  background: #dddddd;
  height: 600px;
  width: 1000px;
  position: relative;
  padding: 0;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

svg .armModule {
  transition: transform 0.5s;
}
